{% extends 'base.html.twig' %} {% block title %} Admin Panel {% endblock %} {%
block body %}
<div class="container d-flex">
  <div class="card col-6 mx-1">
    <div class="card-header">Contact admin</div>
    <div class="card-body">
      <ul class="list-group">
        {% for contact in contacts %}
        <li class="list-group-item">
          <span
            ><b>{{ contact.id }}</b> {{ contact.name }} (
            {{ contact.email }} )</span
          >
          -
          <a
            href="{{ path('view_contact', { id: contact.id }) }}"
            class="btn btn-primary btn-sm"
            >View message</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card col-6 mx-1">
    <div class="card-header">Upload your new items</div>
    <form class="card-body" method="post" action="">
      Title:<br />
      <input class="form-control" type="text" name="title" required /><br />
      description:<br />
      <input
        class="form-control"
        type="text"
        name="description"
        required
      /><br />
      Price:<br />
      <input class="form-control" name="price" required /><br />
      Quantity: <br />
      <input class="form-control" name="quantity" required /><br />
      Photo:<br />
      <input class="form-control" type="file" name="photo" /><br />
      <input class="btn btn-primary" type="submit" name="save" value="Submit" />
      {% if error is defined and error is not empty %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
