{% extends 'base.html.twig' %} {% block title %} Contacts {% endblock %} {%
block body %}
<div class="container px-2 text-primary">
  <h1 class="h1-responsive font-weight-bold my-4">Contact me</h1>
  <p class="text-center w-responsive mx-auto mb-5">
    Do you have any questions? Please do not hesitate to contact me directly.
  </p>
  <div class="row">
    <div class="col-md-9 mb-md-0 mb-5">
      <form action="{{ path('contacts') }}" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input name="client-name" class="form-control" value="{{formValues.clientName|default("")

              }}" required/>
              <label>Your name</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input name="client-email" class="form-control" value="{{formValues.clientEmail|default("")

              }}"/>
              <label>Your email</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <textarea
                name="client-message"
                class="form-control md-textarea"
                >{{formValues.clientMessage|default("")}}</textarea
              >
              <label>Your message</label>
            </div>
          </div>
        </div>

        <div class="text-center text-md-left">
          <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
      </form>
      {% if error is defined and error is not empty %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endif %}
    </div>
    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li>
          <i class="fas fa-map-marker-alt fa-2x"></i>
          <p>
            Post code NN48DL , St Leonards Road, Northampton , Northamptonshare
          </p>
        </li>
        <li>
          <i class="fas fa-phone mt-4 fa-2x"></i>
          <p>+44 7728 550909</p>
        </li>
        <li>
          <i class="fas fa-envelope mt-4 fa-2x"></i>
          <p>rasa.pociute123@gmail.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
